.Phonetic {
  margin-bottom: 20px 0;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: #97753d;
  margin-bottom: 12px;
}

.Phonetic a {
  text-decoration: none;
  margin-right: 20px;
}

.fa-volume-up {
  color: #97753d;
  font-size: 25px;
}
